.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid currentColor;
  width: 0;
  animation: typing 1.5s steps(40, end) forwards;
}

.mid {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 30%;
  margin: auto;
}
.imageContainer {
  width: 50%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  margin: auto;
  border: 1px solid orange;
}

.imageContainer img {
  object-fit: contain;
}

.heading {
  border-bottom: 1px solid orange;
  padding-bottom: 1rem;
}

.line {
  border-bottom: 1px solid orange;
  padding-bottom: 1rem;
}

.subHeading {
  color: orange;
}

.button {
  padding: 0.7rem;
  /* border: 1px solid orange; */
  border-radius: 5px;
  width: 33%;
  background-color: black;
}

.clicked{
  color: orange;
  border: 2px solid orange;
}

.packageContainer {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.buttonContainer {
  width: 33%;
  border-radius: 5px;
  padding: 3px;
  /* background-color: black; */
  align-items: center;
  text-align: center;
}

.mid {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.cardContainer {
  /* border: 2px solid white; */
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 1.5rem;
  border-radius: 10px;
  /* background-color:  rgba(0, 0, 0, 0.8);
  background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png"); */
}

.card {
  /* border: 1px solid orange; */
  border-radius: 10px;
  width: 32%;
  background-color:  rgba(0, 0, 0, 0.8);
  background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");
}

.cardHeading {
  text-align: center;
}

.bookButton {
  padding: 0.7rem;
  /* border: 1px solid orange; */
  border-radius: 5px;
  width: 70%;
  background-color: rgb(52, 45, 45);
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.bottomCard {
  margin-bottom: auto;
}