.nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  text-align: center;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
  left: 0;
  right: 0;
  text-transform: uppercase;
}

.button {
  margin: 1rem;
}

.quoteButton {
  padding: 0.7rem;
  border: 1px solid white;
  border-radius: 1rem;
}