.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.top {
  height: 85vh;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid currentColor;
  width: 0;
  animation: typing 1.5s steps(40, end) forwards;
}

@keyframes slide-up {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.slideUp {
  visibility: hidden;
  animation: slide-up 1s ease-out 2s forwards;
}

.midContainer {
  background-color:  rgba(0, 0, 0, 0.6);
  background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");

}

.mid {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 30%;
  margin: auto;
}
.imageContainer {
  width: 50%;
  height: 75%;
  overflow: hidden;
  margin: auto;
  border: 1px solid orange;
  position: relative;
}

.imageContainer img {
  object-fit: contain;
}

.heading {
  text-align: center;
  border-bottom: 1px solid orange;
  padding-bottom: 1rem;
}

.reviews {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 20vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");
}